{% extends "Home/base.html" %}
{% csrf_token %}
{% block content %}
    <h1>User Page {{ user.username }}</h1>

<div class="content">
    <div class="history">
        <h2>History</h2>
        <div class="randomhis">
            <form  method="post">
                {% csrf_token %}
                <input type="submit" name="randombutton" value="Random request from history" />
                {% if request.user.is_authenticated %}
                <table class="tabler">
                    <tr>
                        <th>Requester</th>
                        <th>Type</th>
                        <th>Result</th>
                        <th>Request_time</th>
                    </tr>
                    <tr>
                            <th>{{ randomhistory.requester }}</th>
                            {% if randomhistory.type == 1 %}
                                <td>генерація випадкового числа</td>
                            {% endif %}
                            {% if randomhistory.type == 2 %}
                                <td>генерація послідовності чисел із заданого діапазону</td>
                            {% endif %}
                            {% if randomhistory.type == 3 %}
                                <td>вибір випадкового слова з вказаного тексту</td>
                            {% endif %}
                            {% if randomhistory.type == 4 %}
                                <td>генерація паролю</td>
                            {% endif %}
                            {% if randomhistory.type == 5 %}
                                <td>генерація наборів паролів</td>
                            {% endif %}
                            <th>{{ randomhistory.result }}</th>
                            <th>{{ randomhistory.request_time }}</th>
                    </tr>
                    {% else %}
                    {% endif %}
                </table>
            </form>
        </div>
        <table class="historyt">
            <tr>
                <th>Requester</th>
                <th>Type</th>
                <th>Result</th>
                <th>Request_time</th>
            </tr>
        {% for request in requestpage|slice:":50" %}
            <tr>
                <td>{{ request.requester }}</td>
                {% if request.type == 1 %}
                    <td>генерація випадкового числа</td>
                {% endif %}
                {% if request.type == 2 %}
                    <td>генерація послідовності чисел із заданого діапазону</td>
                {% endif %}
                {% if request.type == 3 %}
                    <td>вибір випадкового слова з вказаного тексту</td>
                {% endif %}
                {% if request.type == 4 %}
                    <td>генерація паролю</td>
                {% endif %}
                {% if request.type == 5 %}
                    <td>генерація наборів паролів</td>
                {% endif %}
                <td>{{ request.result }}</td>
                <td>{{ request.request_time }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>

    <div class="statistic">
        <h3>Statistic</h3>
        <p>Загальна кількість запитів {{ requestpage.count }}</p>
        <ul>
            <li><p>Запитів типу генерація випадкового числа {{ type1.count }}</p></li>
            <li><p>Запитів типу генерація послідовності чисел із заданого діапазону {{ type2.count }}</p></li>
            <li><p>Запитів типу вибір випадкового слова з вказаного тексту {{ type3.count }}</p></li>
            <li><p>Запитів типу генерація паролю {{ type4.count }}</p></li>
            <li><p>Запитів типу генерація наборів паролів {{ type5.count }}</p></li>
        </ul>
    </div>
</div>
{% endblock content %}

