body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}


.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}
.randommethods {
  width: 150px;
  height: 150px;
  transition: .5s;
  margin-top:30px;
}
label[for="var1"]:hover{
    color:#5f788a;
}
label[for="var2"]:hover{
    color:#5f788a;
}
label[for="var3"]:hover{
    color:#5f788a;
}
label[for="var4"]:hover{
    color:#5f788a;
}
label[for="var5"]:hover{
    color:#5f788a;
}
#var1:checked ~ label[for="var1"]{
    color:#5f788a;
}
#var2:checked ~ label[for="var2"]{
    color:#5f788a;
}
#var3:checked ~ label[for="var3"]{
    color:#5f788a;
}
#var4:checked ~ label[for="var4"]{
    color:#5f788a;
}
#var5:checked ~ label[for="var5"]{
    color:#5f788a;
}
#var1:checked ~ .randommethods>#metod1 {
    display:block;

 }
#var3:checked ~ .randommethods>#metod3 {
    display:block;
    width: 300px;
    height: 150px;
    transition: .5s;
}
#var4:checked ~ .randommethods>#metod4 {
    display:block;
    width: 300px;
    height: 150px;
    transition: .5s;
}
#var5:checked ~ .randommethods>#metod5 {
    display:block;
     width: 300px;
     height: 150px;
     transition: .5s;
}
#var2:checked ~ .randommethods>#metod2{
    display:block;
    width: 300px;
    height: 150px;
    transition: .5s;
}
.metod{
    display:none;
}
.content {
    width: 300px;
    height: 2000px;
    margin: 10px;
}
.history {
    float:left;
    width:200px;

}
.statistic {
    float:right;
    width: 300px;
}
.historyt {
    border-spacing: 30px;
   }
.historyt td,th {
    padding: 30px;
}
.randomhis {
    margin: 10px;
}
.tabler {
    border-spacing: 10px;
}
.tabler td,th {
    padding: 10px;
}
.radiolist>input:nth-child(2n) {
    display:table;
}
.radiolist>label{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
input[name="raz"]{
    display:none;
}














