{% extends "Home/base.html" %}
{% block content %}

     <div class="radiolist">

          <input type="radio" checked="checked" name="raz" value="1" id ="var1"/>
          <label for="var1">Генерація випадкового числа</label>
          <input type="radio" name="raz" value="2" id="var2" />
          <label for="var2">Генерація послідовності чисел із заданого діапазону</label>
          <input type="radio" name="raz" value="3" id="var3"/>
          <label for="var3">Вибір випадкового слова з вказаного тексту</label>
          <input type="radio" name="raz" value="4" id="var4"/>
          <label for="var4">Генерація паролю</label>
          <input type="radio" name="raz" value="5" id="var5"/>
          <label for="var5"> Генерація наборів паролів</label>

     <div class="randommethods">
          <div class="metod" id="metod1">
               <form action="" method="post">
                    {% csrf_token %}
                    <label for="m1r1">Початок діапазону</label>
                    <input type="number" id="m1r1" name="range1" required min="-2147483648" max="+2147483647" value="1">
                    <label for="m1r2">Кінець діапазону</label>
                    <input type="number" id="m1r2" name="range2" required min="-2147483648" max="+2147483647" value="100">
                    {% if request.user.is_authenticated %}
                         <p>{{ reqnum1.result }}</p>
                    {% else %}
                         <p>{{ reqnum1 }}</p>
                    {% endif %}
                    <input type="submit" name="metod1button" value="Generate" />
               </form>
          </div>
          <div class="metod" id="metod2">
               <form action="" method="post">
                    {% csrf_token %}
                    <label for="ran1">Початок діапазону</label>
                    <input type="number" id="ran1" name="range11" required min="-2147483648" max="+2147483647" value="1">
                    <label for="ran2">Кінець діапазону</label>
                    <input type="number" id="ran2" name="range21" required min="-2147483648" max="+2147483647" value="100">
                    <label for="ran3">Кількість чисел, що потрібно сгенерувати</label>
                    <input type="number" id="ran3" name="range31" required min="1" max="100" value="1">
                    {% if request.user.is_authenticated %}
                         <p>{{ reqnum2.result }}</p>
                    {% else %}
                              <p>{{ reqnum2 }}</p>
                    {% endif %}
                    <input type="submit" name="metod2button" value="Generate" />
               </form>
          </div>
          <div class="metod" id="metod3">
               <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    {% if request.user.is_authenticated %}
                         <p>
                              <p><textarea name="text" rows="5" cols="125" required ></textarea></p>
                              <p>{{ reqnum3.result }}</p>
                         </p>
                    {% else %}
                         <p>

                              <p><b>Введіть текст</b></p>
                              <p><textarea required name="text"></textarea></p>
                              <p>{{ reqnum3 }}</p>
                         </p>
                    {% endif %}
                    <p><input type="submit" name="metod3button" value="Generate"></p>
                </form>
          </div>
          <div class="metod" id="metod4">
               <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                    <input type="number" id="len41" name="len41" required min="8" max="50" value="8">
                    {% if request.user.is_authenticated %}
                         <p>{{ reqnum4.result }}</p>
                    {% else %}
                         <p>{{ reqnum4 }}</p>
                    {% endif %}
                    <input type="submit" name="metod4button" value="Generate">
               </form>
          </div>
          <div class="metod" id="metod5">
                <form enctype="multipart/form-data" method="post">
                    {% csrf_token %}
                     {% csrf_token %}
                    {% if request.user.is_authenticated %}
                         <p>
                              <label for="count">Кількість паролів</label>
                              <input type="number" required name="numberpasswd" id="count" min="1" max="50" value="1">
                              <label for="length">Довжина паролю</label>
                              <input type="number"  name="len" required id="length" min="8" max="50" value="8">
                              <p>{{ reqnum5.result }}</p>
                         </p>
                    {% else %}
                         <p>
                              <label for="count">Кількість паролів</label>
                              <input type="number" required name="numberpasswd" min="1" max="50" value="1">
                              <label for="length">Довжина паролю</label>
                              <input type="number" required name="len" min="8" max="50" value="8">
                              <p>{{ reqnum5 }}</p>
                         </p>
                    {% endif %}
                    <input type="submit" name="metod5button" value="Generate">
               </form>

          </div>
          </div>
     </div>
{% endblock content %}

